<div class="container-fluid"> 
 <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @item.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @item.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @item.price %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= @item.discount %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= link_to @item.picture.filename, @item.picture if @item.picture.attached? %>
  </p>

  <%= link_to 'Edit', edit_item_path(@item) %> |
  <%= link_to 'Back', items_path %>
</div>